@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-brown: #d87d4a;
  --color-light-brown: #fbaf85;
  --color-dark-950: #000000;
  --color-dark-900: #101010;
  --color-light-gray: rgb(241, 241, 241);
  --color-lighter-gray: #fafafa;
  --color-white: #ffffff;

  --font-manrope: "Manrope", sans-serif;
}
